# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/misc.xml
/.name
# Datasource local storage ignored files
/../../../../../../../../:\1- UMLearn\COMP\COMP 4420\COMP 4420\Code\CompressionCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
